<footer>
    <h6 class="fixed-bottom"><a href="https://www.linkedin.com/in/martin-diego-pedraza/" class="text-decoration-none text-secondary mx-2" target="_blank">Developed by Martin Pedraza</a></h6>
</footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
