<nav class="navbar-dark fixed-top">
    <div class="container-fluid d-flex justify-content-end">

      <button class="hamburguer-button navbar-toggler p-2 m-3 rounded border border-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon fs-5"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
            <a href="/" class="typesHome">TYPES</a>
          </h5>
          <button type="button" class="btn-close rounded-circle fs-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body"><div class="offcanvas-body d-flex flex-column align-items-center">
          <ul class="list-unstyled text-center text-uppercase">
            <li><a href="/types/bug">Bug</a></li>
            <li><a href="/types/dragon">Dragon</a></li>
            <li><a href="/types/electric">Electric</a></li>
            <li><a href="/types/fighting">Fighting</a></li>
            <li><a href="/types/fire">Fire</a></li>
            <li><a href="/types/flying">Flying</a></li>
            <li><a href="/types/ghost">Ghost</a></li>
            <li><a href="/types/grass">Grass</a></li>
            <li><a href="/types/ground">Ground</a></li>
            <li><a href="/types/ice">Ice</a></li>
            <li><a href="/types/normal">Normal</a></li>
            <li><a href="/types/poison">Poison</a></li>
            <li><a href="/types/psychic">Psychic</a></li>
            <li><a href="/types/rock">Rock</a></li>
            <li><a href="/types/water">Water</a></li>
            <li><a href="/types/steel">Steel</a></li>
            <li><a href="/types/fairy">Fairy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>