<!DOCTYPE html>
<html lang="en" class="h-100">
	<%- include('./partials/head') %>

	<body id="errorBackground" class="w-100 h-100">
		<main
			class="container d-flex align-items-center h-100 justify-content-center"
		>
			<div
				class="d-flex flex-column p-4 align-items-center badge text-bg-light bg-opacity-50 rounded-5 col-12 col-md-4"
			>
				<h1 class="my-2 fw-bold">ERROR 404</h1>
				<p class="my-2 fs-5">PAGE NOT FOUND</p>
				<a
					href="/"
					type="button"
					class="btn btn-outline-dark btn-lg my-3 fw-bold"
					>HOME</a
				>
			</div>
		</main>

		<%- include('./partials/footer') %>
	</body>
</html>
