<!DOCTYPE html>
<html>

  <%- include('./partials/head') %>

  <body style="background-color: black;">

    <%- include('./partials/nav') %>

    <h1 style="color: white;"><%= pokemonType %></h1>

    <%- include('./partials/footer') %>

  </body>
</html>