<!DOCTYPE html>
<html>
  <head>
    <title>listado</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pokemon</h1>
    <p>Welcome to lista</p>
  </body>
</html>